# Task 1
# Reg id : SIRSS1242
# Name : Sayyed Nargis Fatima

## Pattern 1

In [1]:
n=int(input("Enter total number: "))
for i in range(n,0,-1):
    for j in range(i-1):
        print('5',end=" ")
    print()

Enter total number: 5
5 5 5 5
5 5 5
5 5
5

# Pattern 2

In [2]:
n=int(input("Enter total number: "))
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

Enter total number: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# Pattern 3

In [3]:
n=int(input("Enter total number: "))
for i in range(1,n):
    for j in range(0,i):        
        print((i*2-1),end=" ")
    print()

Enter total number: 6
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# Pattern 4

In [4]:
n=int(input("Enter total number: "))
for i in range(1,n):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter total number: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Pattern 5

In [6]:
start=1
stop=2
curNum=stop
for i in range(2,6):
    for j in range(start,stop):
        curNum -= 1
        print(curNum,end=" ")        
    print()
    start = stop
    stop += i
    curNum = stop

1
3 2
6 5 4
10 9 8 7

# Pattern 6

In [16]:
n = int(input("Enter the number of rows: "))  
for i in range(1, n+2):
    s=1
    for j in range(1, i+1):
        print(' ', s, sep='', end='')
        s= s*(i - j) // j
    print()

Enter the number of rows: 6
 1
 1 1
 1 2 1
 1 3 3 1
 1 4 6 4 1
 1 5 10 10 5 1
 1 6 15 20 15 6 1

# Pattern 7

In [7]:
n=int(input("Enter total number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1): 
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

Enter total number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# Pattern 8

In [8]:
n=int(input("Enter total number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j*i,end=" ")
    print()

Enter total number of rows: 8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# Pattern 9

In [17]:
n=int(input("Enter total number of rows: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end="")
    for k in range(i):
        print('*',end=' ')
    print()

Enter total number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *

# Pattern 10

In [18]:
n=int(input("Enter total number of rows: "))
for i in range(0,n):
    for j in range(n-i):
        print(' ',end="")
    for k in range(i):
        print('*',end=' ')
    print()

Enter total number of rows: 8

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

# Pattern 11

In [20]:
n=int(input("Enter total number of rows: "))
for i in range(0,n+1):
    for j in range(n+1):
        print('',end="")
    for k in range(i):
        print('*',end=' ')
    print()
print()
for a in range((n+1)-1,0,-1):
    for b in range((n+1)-1,0,-1):
        print('',end="")
    for c in range(a):
        print('*',end=' ')
    print()

Enter total number of rows: 5

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

# Pattern 12

In [21]:
n=int(input("Enter total number of rows: "))
for i in range(0,n):
    for j in range(n):
        print('',end="")
    for k in range(i):
        print('*',end=' ')
    print()
for a in range(n,0,-1):
    for b in range(n,0,-1):
        print('',end="")
    for c in range(a):
        print('*',end=' ')
    print()

Enter total number of rows: 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Pattern 13

In [22]:
n=int(input("Enter total number of rows: "))
for i in range(0,n):
    for j in range(n-i):
        print(' ',end=" ")
    for k in range(i):
        print('*',end=' ')
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=" ")
    for k in range(i):
        print('*',end=' ')
    print()

Enter total number of rows: 6

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

# Pattern 14

In [24]:
n=int(input("Enter total number of rows: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end="")
    for j in range(1,2*i):
        print('*',end='')
    print()
for a in range(2,n+1):
    for b in range(n-a):
        print(' ',end="")
    for b in range(1,2*a):
        print('*',end='')
    print()

Enter total number of rows: 6
***********
 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********
***********

# Pattern 15

In [9]:
n = 14
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*